body {
	margin: 0;
	background-image: radial-gradient( circle farthest-corner at 0.5% 3%, rgba(98,50,122,1) 0%, rgba(56,0,92,1) 90.1% );
	width: 100%;
	height: 100vh;
}

.calculator {
	width: 492px;
	background-color: rgba(0, 0, 0, 0.3);
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);

}

.calculator h1 {
	font-family: "Open sans", sans-serif;
	font-size: 40px;
	color: #fff;
	font-weight: 300;
	margin: 0;
	padding: 15px 20px; 
}

.display {
	height: 170px;
	font-family: "Open sans", sans-serif;
	padding: 15px  20px;
}

.history {
	color: #fff;
	text-align: right;
}

.result {
	color: #fff;
	text-align: right;
	font-weight: 600;
	font-size: 50px;
	font-family: "Open sans", sans-serif;
}

.buttons {
	padding: 0 2px 2px 2px;
}

.buttons:after {
	clear: both;
	content: '';
	display: block;
}

.button {
	float: left;
	width: 120px;
	height: 90px;
	font-family: "Open sans", sans-serif;
	font-size: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 1px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.number {
	float: left;
	width: 120px;
	height: 90px;
	font-family: "Open sans", sans-serif;
	font-weight: 700;
	font-size: 22px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 1px;
	color: #fff;
	cursor: pointer;
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.number:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.button span, .number span {
	text-align: center;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	width: 100%;
}

.press_me {
	position: absolute;
	width: 50px;
	cursor: pointer;
	top: 50px;
	left: 50px;
	color: rgba(255, 255, 255, 0.7);
}

.press_me:hover {
	color: #fff;
}