
@font-face {
  font-family: Industrywf;
  src: url("https://mixer.com/_latest//assets/fonts/Industry/industry_bold_macroman/Industry-Bold-webfont.woff2") format("woff2"), url("https://mixer.com/_latest//assets/fonts/Industry/industry_bold_macroman/Industry-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: bold; }

  @font-face {
  font-family: Industrywf;
  src: url("https://mixer.com/_latest//assets/fonts/Industry/industry_demi_macroman/Industry-Demi-webfont.woff2") format("woff2"), url("https://mixer.com/_latest//assets/fonts/Industry/industry_demi_macroman/Industry-Demi-webfont.woff") format("woff");
  font-weight: 500;
  font-style: 500; }

  @font-face {
  font-family: Industrywf;
  src: url("https://mixer.com/_latest//assets/fonts/Industry/industry_medium_macroman/Industry-Medium-webfont.woff2") format("woff2"), url("https://mixer.com/_latest//assets/fonts/Industry/industry_medium_macroman/Industry-Medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }


body {
	margin: 0;
	background-image: url("images/Background.png");
	background-color: #212d3d;
	background-repeat: no-repeat;
}

.header {
	margin-top: 34px;
	margin-left: 24px;
}

.header:after {
	clear: both;
	content: '';
	display: block;
}

.options {
	float: left;
	
}

.options:after {
	clear: both;
	content: '';
	display: block;
}

.logo {
	float: left;
	padding: 6px;
	border-radius: 4px;
}

.logo:hover {
	background-color: rgba(51,161,252,.04);
}

.logo img {
	height: 21px;
	width: 72px;
}



.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: "Segoe UI", sans-serif;
	font-weight: 600;
	float: left;
}

.menu:after {
	clear: both;
	content: '';
	display: block;
}

.menu li {
	float: left;
	padding: 0 0 0 2px;
	text-align: center;
}

.menu li a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.72);
	padding: 8px;
	display: block;
	border-radius: 4px;
}

.menu li a:hover {
	background-color: rgba(51,161,252,.04);
}

.largeIcon_3emwj{
	font-size: 20px;
	display: block;
}

.largeIcon_3emwj:hover {
	background-color: rgba(51,161,252,.04);
}
.acc {
	float: right;
	margin-right: 16px;
}

.acc .globe {
	display: block;
	padding: 8px;
	float: left;
	margin-top: 2px;
	margin-right: 8px;
	border-radius: 4px;

}

.acc .globe:hover {
	background-color: rgba(51,161,252,.04);

}

.acc .globe svg {
	font-family: Segoe UI, sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 19px;
	color: rgb(255, 255, 255);
	display: block;
	
}

.sign {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-family: Segoe UI, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	padding: 8px;
	border: 1px solid #0170d9;
	border-radius: 4px;
	background-color: #0170d9;
	display: block;
	float: right;
}

.sign:hover {
	background-color: #167bdc;
}

.content {
	margin-top: 34px;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.featured {
	height: 640px;
	overflow: auto;
}

.featured h2 {
	font-family: "Industrywf", sans-serif;
	color: rgb(247, 247, 247);
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	margin: 16px 0 16px 4px;
	display: block; 
}

.partner {
	margin-top:-1px;
	padding-top:1px;
	margin-bottom: 50px;
}

.partner:after {
	clear: both;
	content: '';
	display: block;

}

.partner h2 {
	font-family: "Industrywf", sans-serif;
	color: rgb(247, 247, 247);
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	margin: 16px 0 16px 4px;
	display: block;
}

.see {
	float: right;
	text-decoration: none;
	color: rgb(0, 188, 242);
	font-family: "Industrywf", sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	display: block;
	padding: 11px 10px;
}

.see:hover {
	background-color: rgba(255,255,255,0.08);
}

.flex_container {
	display: flex;
	align-items: stretch;
	width: 100%;
}
.flex_column {
	display: flex;
	flex:1;
	flex-grow: 1;
	margin: 0 4px 8px 4px;
}
.partner_item {
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
	height: 0;
	padding-top: 161%;
	position: relative;
	cursor: pointer;
}

.partner_item:hover:after{
	background: linear-gradient(rgba(33,44,62,0.225) 33%, rgba(33,44,62,0.75) 66%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	z-index: 3;
}

.partner_item img {
	display: block;
	border-radius: 6px;
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}

.text_wrapper {
	z-index: 4;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;


}

.text_wrapper h3 {
	color: white;
	text-align: center;
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	color: white;
	line-height: 14px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 4px;
}

.text_wrapper p {
	padding: 8px;
	margin: 0;
	text-align: center;
	font-family: 'Open sans', sans-serif;
	color: white;
	font-size: 12px;
	line-height: 15px;
}

.top_games {
	margin-bottom: 50px;
	margin-top: -1px;
	padding-top: 1px;
}

.top_games h2 {
	font-family: "Industrywf", sans-serif;
	color: rgb(247, 247, 247);
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	margin: 16px 0 16px 4px;
	display: block;
}

.game_item {
 	width: 100%;
 	border-radius: 6px;
 	background-color: #28374a;
 	cursor: pointer;
 	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
}

.game_item:hover {
	background-color: #43526d; 
}

.square {
	position: relative;
}

.square:after {
	content: '';
	display: block;
	padding-top: 100%;
}

.square img {
	position: absolute;
	width: 100%;
	border-radius: 6px 6px 0 0;
}

.game_item_text {
	padding: 10px;
	font-family: "Open sans", sans-serif;
}

.game_item h3 {
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	color: white;
	font-weight: 600;
	height: 24px;
}

.view_count {
	font-family: "Open sans", sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: rgb(159, 164, 174);
}

.view_count:after {
	clear: both;
	display: block;
	content: '';
}

.view_count svg {
	margin-right: 4px;
	display: block;
	color: white;
	float: left;
}

.view_count span {
	float: left;
	display: block;
}

.up_and_coming {
	margin-top: -1px;
	padding-top: 1px;
	margin-bottom: 50px;
}

.up_and_coming h2 {
	font-family: "Industrywf", sans-serif;
	color: rgb(247, 247, 247);
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	margin: 16px 0 16px 4px;
	display: block;
}

.up_and_coming_item {
	width: 100%;
 	border-radius: 6px;
 	background-color: #28374a;
 	cursor: pointer;
 	position: relative;
 	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
 }

 .up_and_coming_item:hover {
 	background-color: #43526d;
 }

.rectangle {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 6px 6px 0 0;
}

.rectangle:after {
	padding-top: 56.25%;
	content: '';
	display: block; 
}

.live {
	position: absolute;
	top: 12px;
	left: 8px;
}

.live_button span {
	display:inline-block;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	background-color: #df158a;
	margin: 0 4px;
	text-align: center;
}

.live_button {
	font-family: "Open sans", sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 17px;
	margin-left: 4px;
	color: #fff;
	display: inline-block;
	border-radius: 4px;
	background-color: rgba(17, 17, 17, 0.8);
	margin-right: 4px;
	padding: 4px;
	text-align: center;
}

.viewers {
	color: #fff;
	display: inline-block;
	border-radius: 4px;
	background-color: rgba(17, 17, 17, 0.8);
	padding: 4px;
	text-align: center;
	font-family: "Open sans", sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 17px;
	text-align: center;
}

.viewers:after {
	clear: both;
	content: '';
	display: block;
}

.viewers svg {
 	display: inline-block;
 	color: #fff;
 	margin: 0 4px;
 	float: left;
 	padding-top: 3px;
}

.viewers span {
	margin: 0;
}

.stream {
	padding: 16px;
}

.stream img {
	width: 52px;
	height: 52px;
	display: block;
	border-radius: 50%;
	float: left;
	margin-right: 8px;
}

.stream h5 {
	margin: 0;
	color: rgba(255, 255, 255, 0.6);
	font-family: "Open sans", sans-serif;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 2px;
	font-weight: 500; 
}

.stream h3 {
	margin: 0;
	color: rgba(255, 255, 255, 0.6);
	font-family: "Open sans", sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}

.stream h4 {
	margin: 0;
	color: rgba(255, 255, 255, 0.6);
	font-family: "Open sans", sans-serif;
	font-size: 12px;
	margin-top: 2px;
	text-transform: uppercase;

}

.top_streams {
	margin-top: -1px;
	padding-top: 1px;
	margin-bottom: 50px;
}

.top_streams:after {
	display: block;
	content: '';
	clear: both;
}

.top_streams h2 {
	font-family: "Industrywf", sans-serif;
	color: rgb(247, 247, 247);
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	margin: 16px 0 16px 4px;
	display: block;
}

.search {
	margin: 4px 16px;
	float: right;
}

.search:after {
	clear: both;
	display: block;
	content: '';
}

.input_wrapper {
	position: relative;
	float: left;
}

.input_wrapper input {
	background-color: #131d2c;
	padding: 12px 30px 12px 12px;
	border: 2px solid #131d2c;
	border-radius: 2px;
	width: 300px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Open sans" sans-serif;
	color: #fff;
}

.input_wrapper svg {
	position: absolute;
	top: 8px;
	right: 2px;
	color: #00bcf2;
	font-size: 18px;
	display: inline-block;
	line-height: 18px;
	cursor: pointer;
	border-radius: 50%;
	padding: 4px;
	width: 20px;
	height: 20px;
}

.input_wrapper svg:hover {
	background-color: rgba(255,255,255,0.08);
}

.fillters {
	float: right;
	border-radius: 2px;
	padding: 0 16px;
	cursor: pointer;
	text-align: center;
	margin: 2px 0 0 14px;
}

.fillters:after {
	clear: both;
	display: block;
	content: '';
}

.fillters:hover {
	background-color: rgba(255,255,255,0.08);
}

.fillters svg {
	color: #00bcf2;
	display: inline-block;
	float: left;
	margin: 5px 4px 4px 0;
}

.fillters span {
	color: #fff;
	font-family: "Industrywf", sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	display: inline-block;
	float: right;
	margin: 10px 0;
}

input::-webkit-input-placeholder { /* Edge */
  color: #fff;
  opacity: 0.2;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  opacity: 0.2;
}

::placeholder {
  color: #fff;
  opacity: 0.2;
}




